<section id="tasks">
    <header>
        <h2>
            {{selectedUser?.name}}'s Tasks
        </h2>
        <menu>
            <button (click)="onNewTask()">New Task</button>
        </menu>
    </header>

    <ul>
        @for (task of tasks; track task.id) {
        <li>
            <app-task (onTaskComplete)="onTaskComplete($event)" [task]="task"></app-task>
        </li>
        }
    </ul>
</section>


@if (showAddTaskModal) {
<app-new-task (onTaskAdded)="onTaskAdded($event)" [user]="selectedUser!" (onCancel)="onCloseModal()"></app-new-task>
}